[submodule "content/submodules/rationalwiki.org"]
	path = content/submodules/rationalwiki.org
	url = https://github.com/davepinch/cc-rationalwiki.org.git
[submodule "content/submodules/ancientlibrary.net"]
	path = content/submodules/ancientlibrary.net
	url = https://github.com/davepinch/cc-ancientlibrary.net
[submodule "content/submodules/parks.wa.gov"]
	path = content/submodules/parks.wa.gov
	url = https://github.com/davepinch/cc-parks.wa.gov.git
[submodule "content/submodules/techtinkering.com"]
	path = content/submodules/techtinkering.com
	url = https://github.com/davepinch/cc-techtinkering.com
