---
title: "pinchy.cc"
hashtag: home-page
layout: root
footer:
  - About me
  - Privacy Policy
---
{%- assign random-cue = site.cues | sample: 1 -%}
{% include cc-cue item=random-cue view="masthead" -%}

{%- assign random-items = site.documents | sample: 13 -%}
<section class="cc-section cc-home-section">
  <ul class="cc-card-list">
    {% for random-item in random-items -%}
    <li class="cc-card-list-item">{% include cc-view item=random-item view="card" %}</li>
    {%- endfor -%}    
  </ul>
</section>