@mixin cc-cue-base {
    background-color: #1C76B8;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
}

.cc-cue-inline a, .cc-cue-chip a, .cc-cue-card a {
    @include cc-cue-base;
    text-decoration: none;
}

.cc-cue-masthead {
    align-items: center;
    display: flex;
    justify-content: center;
}

.cc-cue-masthead > .cc-title {
    @include cc-cue-base;
    font-size: 3.8em;
    text-align: center;
    word-spacing: .1em;
}