.cc-quote-card {
    /* Center, stacked from top to bottom */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Georgia, serif;
}

.cc-quote-masthead {

    /* Fill viewport */
    min-height: 100vh;
    width: 100%;

    /* Center, stacked from top to bottom */
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    justify-content: center;
    text-align: center;
    font-family: Georgia, serif;
}

.cc-quote-masthead {
    .cc-missing-quotes::before {
        content: '\201C';        
        font-size: 46px;
    }

    .cc-missing-quotes::after {
        content: '\201D';        
        font-size: 46px;
    }
}    

.cc-quote-masthead .cc-attribution {
    font-size: x-large;
}