/* Enlarge text for extra readability */
html {
    font-size: 150%;
}

/* Set the body as a grid so that sections can be re-ordered */
.cc-body {
    display: grid;
}

.cc-body > .cc-section {
    order: 5
}

/* Sort the masthead first */
.cc-body > .cc-masthead {
    order: 1;
}

/* tags section */
.cc-body > .cc-tags-section {
    order: 2;
    > header {
        display: none;
    }
}

.cc-footer {
    order: 6;
    border-top-color: #f0f0f0;
    border-top-style: ridge;
    border-top-width: 2px;
}

// Import views first
@import "views/cc-card";
@import "views/cc-tag";

// Import types (which may adjust the views)
@import "types/cc-cue";
@import "types/cc-emoji";
@import "types/cc-element";
@import "types/cc-excerpt";
@import "types/cc-fragment";
@import "types/cc-quote";
@import "types/cc-reality-check";
@import "types/cc-snippet";
@import "types/cc-split";
@import "types/cc-task";
@import "types/cc-tweet";
@import "types/cc-title";
@import "types/cc-website";