{% comment %}
#
#  The if statement does not resolve a reference to include.linked.
#  However, it works if include.linked is assigned to a variable.
#
{% endcomment %}
{% assign linked = include.linked %}

{% comment %}
#
# Find the document that matches the path specified in the linked variable.
#
{% endcomment %}
{%- for p in site.documents -%}
  {%- if p.path == linked -%}
    <article class="card">
      <a href="{{p.url}}">
      {% case p.layout %}
        {% when "cue" %}
          {% assign cue=p.cue | default: p.title %}
          {% include cue.html cue=cue %}
        {% when "person" %}
          {% include person-card.html person=p.person %}
        {% when "quote" %}
          {% assign quote=p.quote | default: p.title %}
          {% include quote.html quote=quote attribution=p.attribution %}
        {% when "task" %}
          {% assign task = p.task | default: p.title %}
          {% include task.html task=task %}
      {% endcase %}
      </a>
    </article>
    {% break %}
  {%- endif -%}
{% endfor %}