{% comment %}
#
#  The if statement does not resolve a reference to include.linked.
#  However, it works if include.linked is assigned to a variable.
#
{% endcomment %}
{% assign linked = include.linked %}

{% comment %}
#
# Find the document that matches the path specified in the linked variable.
#
{% endcomment %}
{%- for p in site.documents -%}
  {%- if p.path == linked -%}
      <a href="{{p.url}}" class="card-link">
      {% case p.layout %}
        {% when "article"  %}{% include article-card.html  page=p %}
        {% when "backlog"  %}{% include backlog-card.html  page=p %}
        {% when "bookmark" %}{% include bookmark-card.html page=p %}
        {% when "cue"      %}{% include cue-card.html      page=p %}
        {% when "hashtag"  %}{% include hashtag-card.html  page=p %}
        {% when "subhome"  %}{% include home-card.html     page=p %}
        {% when "person"   %}{% include person-card.html   page=p %}
        {% when "quote"    %}{% include quote-card.html    page=p %}
        {% when "recipe"   %}{% include recipe-card.html   page=p %}
        {% when "symbol"   %}{% include symbol-card.html   page=p %}
        {% when "task"     %}{% include task-card.html     page=p %}
      {% endcase %}
      </a>
    {% break %}
  {%- endif -%}
{% endfor %}

{% if linked == "/index.html" %}
  {% include home-card %}
{% endif %}