
{% if include.recipe %}

  <article class="recipe">
    
  {% if include.recipe.ingredients %}

    <section class="ingredients">
      <h2>Ingredients</h2>
      <ul>
      {% for ingredient in include.recipe.ingredients %}

        {% if ingredient.item %}
          {% capture text %}{{ingredient.amount}} {{ ingredient.unit }} {{ingredient.item}}{% endcapture %}
        {% else %}
          {% assign text = ingredient %}
        {% endif %}
        <li>{{ text }}</li>

      {% endfor %}
      </ul>
    </section>

  {% endif %}

  {% if include.recipe.steps %}

    <section class="steps-section">
      <h2>Steps</h2>
      <section class="steps-list">
        {% for step in include.recipe.steps %}
          <article class="step">
            <p class="step-text">{{ step }}</p>
          </article>
        {% endfor %}
      </section>    
    </section>

  {% endif %}

  </article>

{% endif %}
