
{% if include.recipe %}

  <article>

    
  {% if include.recipe.ingredients %}

    <section>
      <h2>Ingredients</h2>
      <ul>
      {% for ingredient in include.recipe.ingredients %}
        {% if ingredient.item %}
          <li>{{ ingredient.item }}</li>
        {% endif %}
      {% endfor %}
      </ul>
    </section>

  {% endif %}

  {% if include.recipe.steps %}

    <section>
      <h2>Steps</h2>
      <ol>
      {% for step in include.recipe.steps %}
        <li>{{ step }}</li>
      {% endfor %}
      </ol>
    </section>

  {% endif %}

  </article>

{% endif %}
