.cc-tags-section ul {
    list-style: none;
    display: flex;
    padding-inline-start: 0;
}

.cc-tag {
    border-color: silver;
    border-radius: 20pt;
    border-style: solid;
    border-width: 1px;
    margin-right: 10pt;
    padding: 10px;
}