.cc-tags-section ul {
    list-style: none;
    display: flex;
    padding-inline-start: 0;
    flex-wrap: wrap;
}

.cc-tags-section li {
    margin: 8pt;
}

.cc-tag {
    background-color: silver;
    border-color: silver;
    border-radius: 20pt;
    border-style: solid;
    border-width: 1px;
    margin-right: 10pt;
    padding: 10px;
}