.cc-cue {
    background-color: #1C76B8;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
}

.cc-cue-masthead {
    align-items: center;
    display: flex;
    justify-content: center;
}

.cc-cue-masthead > .cc-cue {
    font-size: 3.8em;
    text-align: center;
    word-spacing: .1em;
}