.cc-chip-list {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;

    // Remove padding for the bullet
    list-style: none;
    padding-inline-start: 0;
}

.cc-card-list {

    // Remove padding for the bullet
    list-style: none;
    padding-inline-start: 0;
}

.cc-card-list-item {
    border-color: silver;
    border-style: dashed;
    border-width: 1px;
    display: block;
    width: 300px;
}

.cc-masthead {
    display: block;
    min-height: 100vh;
    width: 100%;
}

.cc-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* =========================================================================
 * cue
 * ========================================================================= */

.cc-cue {
    background-color: #1C76B8;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
}

.cc-cue-card, .cc-cue-masthead {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cc-cue-card {
    > .cc-url {
        font-size: xx-large;
        text-align: center;
        text-decoration: none;
    }
}

.cc-cue-chip {

    > .cc-url {
        border-width: 0;
        display: inline-block;
        font-size: large;
        padding: 12pt;
        text-align: center;
        text-decoration: none;
        word-spacing: .1em;
    }

    > .cc-url:hover {
        border-color: lighten($color: #1C76B8, $amount: 10);
        background-color: lighten($color: #1C76B8, $amount: 10);
    }
}

/* =========================================================================
 * fragment
 * ========================================================================= */

.cc-fragment::before {
    content: '\2329';
    color: #1C76B8;
}

.cc-fragment::after {
    content: '\232A';
    color: #1C76B8;  
}

.cc-fragment-card, .cc-fragment-masthead {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cc-fragment-card {

    font-size: large;
    display: flex;

    .cc-url {
        text-decoration: none;
    }

    .cc-url:hover {
        text-decoration: underline;
    }
}

.cc-fragment-chip {
    font-size: large;

    .cc-url {
        display: inline-block;
        text-decoration: none;
    }
    
    .cc-url:hover {
        text-decoration: underline;
    }
}

.cc-fragment-masthead {
    font-size: xx-large;
    display: flex;
}

/* =========================================================================
 * hashtag
 * ========================================================================= */

 $cc-hashtag-background-color: silver;

.cc-hashtag {
    background-color: silver;
    font-family: monospace;
}

.cc-hashtag-card, .cc-hashtag-masthead {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cc-hashtag-card {
    > .cc-url {
        border-radius: 18pt;
        border-width: 0;
        color: black;
        display: inline-block;
        font-size: large;
        padding: 12pt;
        text-decoration: none;
    }

    > .cc-url:hover {
        border-color: lighten($color: silver, $amount: 10);
        background-color: lighten($color: silver, $amount: 10);
    }
}

.cc-hashtag-chip {
    font-size: large;

    > .cc-url {
        border-radius: 18pt;
        border-width: 0;
        color: black;
        display: inline-block;
        padding: 12pt;
        text-decoration: none;
    }

    > .cc-url:hover {
        border-color: lighten($color: silver, $amount: 10);
        background-color: lighten($color: silver, $amount: 10);
    }
}

/* =========================================================================
 * wikipedia
 * ========================================================================= */

.cc-wikipedia-chip {
    font-size: large;
    margin-left: 24px;

    > .cc-url {
        color: black;
        display: inline-block;
        text-decoration: none;
    }

    > .cc-url:hover {
        text-decoration: underline
    }
}

.cc-wikipedia-chip::before {
    content: '';
    background-image: url('/assets/images/Wikipedia_W.svg');
    background-size: cover;
    display: inline-block;
    height: 24px;
    position: relative;
    top: 4pt;
    width: 24px;
}
