/* =========================================================================
 * card => person
 * -------------------------------------------------------------------------
 * A person is a real or fictional character.
 * ========================================================================= */

 .card .person {
    display: flex;
}

.card .person .bio {
    display: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .person .thumbnail {
    height: 100%;
    object-fit: contain;
}


/* =========================================================================
 * poster => person
 * ========================================================================= */

 .poster .person {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.poster .person .bio {
    padding-left: 24pt;
    padding-right: 24pt;
}

.poster .person .name {
    background-color: #f0f0f0;
    margin: 24pt;
    padding: 24pt;
    text-align: center;
}

.poster .person .portrait {
    margin: 24pt;
}
