{{ $snippet := .Params.snippet | default (index .Params "✂️") | default .Params.title }}
<header class="cc-masthead cc-snippet-masthead">
    <h1 class="cc-title">
    {{ if .Params.next }}
        {{ $next := partial "cc-get-first" .Params.next }}
        {{ if $next }}
          <a href="{{ $next.RelPermalink }}">{{ $snippet | markdownify }}</a>
        {{ else }}
          {{ $snippet | markdownify }}
        {{ end }}
    {{ else }}
        {{ $snippet | markdownify }}
    {{ end }}
    </h1>
</header>