<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ .Render "cc-ogp" }}
{{ .Render "cc-structured" }}
{{ .Render "cc-twitter-card" }}
<title>{{ .Page.Title }}</title>
{{ $style := resources.Get "sass/cc.scss" | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<link rel="shortcut icon" type="image/x-icon" href="/favicon/favicon.ico"/>
</head>
<body class="cc-body cc-{{ .Type }}-body">

{{ block "main" . }}
{{ end }}

<!-- footer -->
{{ .Render "cc-footer" }}

{{ with $console := .Params.console }}
  {{ partial "cc-log" .}}
{{ end }}

</body>
</html>
