{{ $collated := partial "cc-collate" .Params.title }}
<header class="cc-masthead cc-{{ .Type }}-masthead">
    <h1 class="cc-title">
    {{ if $collated.next }}
        {{ $next := partial "cc-get-first" $collated.next }}
        {{ if $next }}
          <a href="{{ $next.RelPermalink }}">{{ .Params.title | markdownify }}</a>
        {{ else }}
          {{ .Params.title | markdownify }}
        {{ end }}
    {{ else }}
        {{ .Params.title | markdownify }}
    {{ end }}
    </h1>
</header>
