{{ define "main" }}

{{/* Write something, optimize this later, 2026-05-28 */}}
{{ $p := partialCached "cc-get" "YOU EXIST" "YOU EXIST" }}
{{ with $p }}
    {{ .Render "cc-masthead" }}
{{ end }}
{{ $p = partialCached "cc-get" "that's pretty cool" "that's pretty cool" }}
{{ with $p }}
    {{ .Render "cc-masthead" }}
{{ end }}
{{ $p = partialCached "cc-get" "Do you know Messier 31 exists?" "Do you know Messier 31 exists?" }}
{{ with $p }}
    {{ .Render "cc-masthead" }}
{{ end }}
{{ $p = partialCached "cc-get" "so do you" "so do you" }}
{{ with $p }}
    {{ .Render "cc-masthead" }}
{{ end }}

{{ .Content }}

{{/* Generate a random list of pages */}}
<ul>
{{ $pages := .Site.RegularPages -}}
{{ $pages = $pages | shuffle | first 13 -}}
{{ range $pages }}
    <li>{{- .Render "cc-card" -}}</li>
{{ end -}}
</ul>

<em>This is a random selection of 13 pages from {{ len .Site.RegularPages }} pages.</em>
{{ end }}