{{ define "main" }}

<!-- masthead -->
{{ .Render "cc-masthead" }}

<!-- content -->
<section class="cc-section cc-content-section">
  {{ .Content }}
</section>

<!-- references -->
<section class="cc-section cc-references-section">
  <ul>
    <!-- tagged with this page title -->
    {{ $pages := partial "cc-get-tagged" .Title }}
    {{ if $pages }}
      {{ range sort $pages "Title" }}
      <li>{{ .Render "cc-card" }}</li>
      {{ end }}
    {{ end }}
  </ul>
</section>

{{ $record := index .Site.Data.titles .Title }}

<!-- sections -->
{{ $skip := slice
    "attribution"
    "draft"
    "imagemap"
    "iscjklanguage"
    "lastmod"
    "next"
    "picture"
    "publish"
    "publishdate"
    "published"
    "quote"
    "recipe"
    "thumbnail"
    "title"
    "type"
    "url"
    "alt"
    "caption"
    "::path" -}}
{{ range $k, $v := $record -}}
  {{ if not (in $skip $k) -}}
    {{ partial "cc-section" (dict "key" $k "value" $v) }}
  {{ end -}}
{{- end }}

<!-- when -->
{{ $when := index .Params "when" }}
{{ if $when }}
  {{ $events := partial "cc-get-when" $when }}
  {{ if $events }}
    <section class="cc-section cc-events-section">
      <h1>on this day</h1>
      <ul>
        {{ range $events }}
          <li>{{ .Render "cc-card" }}</li>
        {{ end }}
      </ul>
    </section>
  {{ end }}
{{ end }}

{{ end }}