{{ define "main" }}

<!-- masthead -->
{{ .Render "cc-masthead" }}

<!-- tags -->
<section class="cc-tags-section">
  <ul>
    {{ range .Params.tags }}
        <li>{{ partialCached "cc-tag" . . }}</li>
    {{ end }}
  </ul>
</section>

<!-- date -->
{{ if .Date }}
<section class="cc-date-section">
    <p>
      <em class="cc-date">{{ .Date.Format "Monday, January 2, 2006" }}</em>
    </p>
</section>
{{ end }}

<!-- content -->
<section class="cc-content-section">
  {{ .Content }}
</section>

<!-- references -->
<section class="cc-related-section">
  <ul>
    <!-- from this page -->
    {{ $from := partial "cc-get-from" .Title }}
    {{ if $from }}
      {{ range sort $from "Title" }}
      <li>{{ .Render "cc-card" }}</li>
      {{ end }}
    {{ end }}
    <!-- related -->
    {{ range partial "cc-slice" .Params.related }}
      <li>{{ partialCached "cc-card-for" . . }}</li>
    {{ end }}
    <!-- tagged with this page title -->
    {{ $pages := partial "cc-get-tagged" .Title }}
    {{ if $pages }}
      {{ range sort $pages "Title" }}
      <li>{{ .Render "cc-card" }}</li>
      {{ end }}
    {{ end }}
  </ul>
</section>

<!-- sections -->
{{ $skip := slice
    "attribution"
    "date"
    "draft"
    "excerpt"
    "imagemap"
    "iscjklanguage"
    "lastmod"
    "next"
    "picture"
    "publish"
    "publishdate"
    "published"
    "quote"
    "recipe"
    "related"
    "snippets"
    "spotify"
    "tags"
    "thumbnail"
    "title"
    "type"
    "url"
    "website"
    "alt"
    "caption" -}}
{{ range $k, $v := .Params -}}
  {{ if not (in $skip $k) -}}
    {{ partial "cc-section" (dict "key" $k "value" $v) }}
  {{ end -}}
{{- end }}

<!-- when -->
{{ $when := index .Params "when" }}
{{ if $when }}
  {{ $events := partial "cc-get-when" $when }}
  {{ if $events }}
    <section class="cc-events-section">
      <h1>on this day</h1>
      <ul>
        {{ range $events }}
          <li>{{ .Render "cc-card" }}</li>
        {{ end }}
      </ul>
    </section>
  {{ end }}
{{ end }}

{{ end }}
