.cc-wikidata-section .cc-heading .cc-title {

    /* Treat element as a container */
    position: relative;

    /* Ensure space for the image */
    padding-left: 36px;

}

.cc-wikidata-section .cc-heading .cc-title::before {

    /* Required for ::before to render */
    content: "";

    display:inline-block;
    position: absolute;

    /* Vertically center */
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    height: 32px;
    width: 32px;
    
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/ff/Wikidata-logo.svg');
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
}