{{ $thumbnail := .Params.thumbnail | default .Params.picture }}
<article class="cc-card cc-picture-card">
    <a class="cc-url" href="{{ .Permalink }}">
        {{ $image := resources.Get $thumbnail -}}
        {{ if $image -}}
        <img class="cc-picture"
             src="{{ $image.RelPermalink }}"
             title="{{ .Params.title }}"
             width="300" />
        {{ else }}
        <span class="cc-title">{{ .Params.title | markdownify }}</span>
        {{- end }}
    </a>
</article>
