{{ $next := partial "cc-get-first" .Params.next }}
<header class="cc-masthead cc-picture-masthead">
  {{ if $next -}}<a href="{{ $next.RelPermalink }}">{{ end }}
  {{ if hasPrefix .Params.picture "http" -}}
  <img class="cc-picture"
       src="{{ .Params.picture }}"
       title="{{ .Params.title }}"
       width="100%" />
  {{ else }}
    {{ $image := resources.Get .Params.picture -}}
    {{ if $image -}}
    <img class="cc-picture"
         src="{{ $image.RelPermalink }}"
         title="{{ .Params.title }}"
         width="100%" />
    {{ end }}
  {{- end }}
  {{ if $next }}</a>{{- end }}
  <h1 class="cc-title">{{ .Params.title | markdownify }}</h1>
  {{ with .Params.website -}}
  <a href="{{ . }}" class="cc-website">{{ . }}</a>
  {{- end }}

  {{/* HACK: */}}
  {{ if eq .Params.license "public domain" -}}
    {{ if in .Params.tags "generative work" }}
    <p class="cc-notice">
      This picture is placed into the <a href="/public-domain/">public domain</a> because it
      is a generative work based on the accumulated works of others.
    </p>
    {{ end }}
  {{ end }}

</header>
