<header class="cc-masthead cc-picture-masthead">
  {{ if hasPrefix .Params.picture "http" -}}
  <img class="cc-picture"
       src="{{ .Params.picture }}"
       title="{{ .Params.title }}"
       width="100%" />
  {{ else }}
    {{ $image := resources.Get .Params.picture -}}
    {{ if $image -}}
    <img class="cc-picture"
         src="{{ $image.RelPermalink }}"
         title="{{ .Params.title }}"
         width="100%" />
    {{ end }}
  {{- end }}
  <h1 class="cc-title">{{ .Params.title | markdownify }}</h1>
  {{ with .Params.website -}}
  <a href="{{ . }}" class="cc-website">{{ . }}</a>
  {{- end }}
</header>
