<meta property="og:title" content="{{ .Title }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
{{ with .Params.caption -}}
<meta property="og:description" content="{{ . }}" />
{{ end -}}
{{ if hasPrefix .Params.picture "http" -}}
  <meta property="og:image" content="{{ .Params.picture }}" />
{{ else -}}
  {{ with resources.Get .Params.picture -}}
  <meta property="og:image" content="{{ .Permalink }}" />
  {{ end -}}
{{ end -}}
{{ with .Params.alt -}}
<meta property="og:image:alt" content="{{ . }}" />
{{ end -}}