{{/*
   * Builds a dictionary containing combined information
   * about each page. Each key is a page title. Each value
   * is a dictionary contain explicit and derived properties
   * of the corresponding page.
   */}}
{{ $group := dict }}
{{/*
   * Iterate over all pages and their property values. This
   * is an expensive operation and therefore the results of
   * this partial should be cached with partialCached.
   */}}
{{ range $page := site.RegularPages }}
{{/* IN PROGRESS */}}
{{ end }}
{{ return $group }}