{{/*
    * cc-groupby-year.html
    *
    * This partial groups pages by calendar year for a given date property.
    * The return value is a dictionary with each unique year as the key, each
    * mapped to a slice of pages that have that year.
    *
    */}}
{{ $prop := . }}
{{ $group := dict }}
{{/*
   * Iterate over all pages and their property values. This is
   * a slow operation, so you should cache the results with partialCached.
   * 
   */}}
{{ range $page := site.RegularPages }}
    {{/*
       * Get the property values of this page as a slice/array.
       * The cc-slice partial will cast the value as a slice.
       *
       */}}
    {{ $values := partial "cc-slice" (index $page.Params $prop) }}
    {{ range $value := $values }}
        {{ if not $value }}
            {{ errorf "Page %q has nil value" $page.Path }}
            {{ continue }}
        {{ end}}
        {{/*
           * Get the year from the date property.
           *
           */}}
        {{ $year := time.Format "2006" $value }}
        {{/*
           * Get the slice of pages that have this year.
           * If the year is not in the dictionary, create a new
           * slice and add the page to it. Otherwise, append the page to the
           * existing slice.
           *
           */}}
        {{ $pages := index $group $year }}
        {{ if $pages }}
            {{ $pages = $pages | append $page }}
        {{ else }}
            {{ $pages = slice $page }}
        {{ end }}
        {{ $group = merge $group (dict $year $pages) }}
    {{ end }}
{{ end }}
{{ return $group }}