{{/*
    * cc-inline-for
    *
    * This partial renders the inline view of the specified page. An inline
    * view is expected to flow in the context of outer text, so it should not
    * contain block-level elements.
    *
    * TODO: rewrite type handling
    *
    */}}
{{ $type := (printf "%T" . ) -}}
{{ if eq $type "string" -}}
    {{ with partialCached "cc-get" . . }}
        {{ .Render "cc-inline" }}
    {{ else }}
        <span class="cc-inline">
        {{ . | markdownify -}}
        </span>
    {{ end -}}
{{ else if eq $type "float" }}
    <span class="cc-inline">{{ . }}</span>
{{ else if eq $type "int" }}
    <span class="cc-inline">{{ . }}</span>
{{ else if eq $type "time.Time" }}
    <span class="cc-inline">{{ time.Format "January 2, 2006" . }}</span>
{{ end }}