{{/*
   * Renders a section based on a key/value property.
   *
   * The template attempts to load the page with the same title as the key.
   * If such a page exists, it may define properties that impact how the
   * section is rendered.
   *
   * TODO:
   *   - rename cc-inline-for to cc-inline
   *   - Update cc-heading to not hyperlink the title
   *   - don't trust the view value in the mapped page
   *   - implement an auto view that decides between card or inline
   *   - implement cc-heading partial to support reusable fallback
   *
   */}}
{{ $view := "cc-inline-for" }}
{{ $section := partialCached "cc-get" .key .key }}
{{ with $section }}
    {{ with index $section.Params "cc-section-view" }}{{ $view = . }}{{ end }}
{{ end }}
<section class="cc-section cc-{{ .key }}-section">
  <header>
      {{ if $section }}
          {{ $section.Render "cc-heading" }}
      {{ else }}
          <h2 class="cc-heading">
            <span class="cc-section-key">{{ .key }}</span>
          </h2>
      {{ end }}
  </header>
  {{ with partial "cc-slice" .value }}
  {{ if lt (len .) 4 }}{{ $view = "cc-card-for" }}{{ end }}
  <ul>
      {{ range . }}
          {{ $itemType := (printf "%T" . ) -}}
          {{ if eq $itemType "string" -}}
          <li>{{ partialCached $view . . }}</li>
          {{ else }}
          <li>Unknown type: {{ $itemType }}</li>
          {{ end }}
      {{ end }}
  </ul>
  {{ end }}
</section>