{{/* Converts the value to a slice (array) */}}
{{ $slice := . -}}
{{ with $slice }}

    {{/* Get the data type of the value */}}
    {{ $type := (printf "%T" $slice) -}}

    {{ if not (eq $type "[]string") -}}

        {{/* Identify the data types that will be cast into a slice */}}
        {{ $types := slice "string" "maps.Params" "float64" "bool" "int" "time.Time" -}}

        {{ if in $types $type -}}
            {{ $slice = slice . -}}
        {{ else -}}
            {{ errorf "Value %v has unknown type %T" . . }}
        {{ end -}}
  
    {{ end -}}

{{ end -}}

{{ return $slice -}}