{{ $slice := . -}}
{{ with $slice }}

    {{/* Get the data type of the value */}}
    {{ $type := (printf "%T" $slice) -}}

    {{ if not eq $type "[]string" -}}

        {{/* Identify the data types that will be cast into a slice */}}
        {{ $literals := slice "string" "float64" "bool" "int" -}}

        {{ if in $literals $type -}}
            {{ $slice = slice . -}}
        {{ else -}}
            {{ errorf "Value %v has unknown type %T" . . }}
        {{ end -}}
  
    {{ end -}}

{{ end -}}

{{ return $slice -}}