.article-card {    
    .article {
        .title {
            display: inline;
            font-weight: bold;        
        }
    }
}

.article-masthead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: auto;
    margin-top: 24pt;
    padding: 24pt;
    width: 80vh;
}