
.button-card, .button-poster {
    height: 100%;
    width: 100%;
}

.button-card > .button-form, .button-poster > .button-form {

    height: 100%;
    width: 100%;

    .button {
        height: 100%;
        width: 100%;
        font-size: 8vw;    
    }
}