
.hashtag-masthead {
    display: flex;
    justify-content: center;
    margin-top: 24pt;
    margin-bottom: 24pt;
}

.hashtag-masthead > .hashtag {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 8vw;
    padding: 8pt;
    text-align: center;
}

.hashtag-card {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.hashtag-card > .hashtag {
    font-family: 'Courier New', Courier, monospace;    
    font-size: large;
    padding: 8pt;
}

.inlined > .hashtag {
    a {
        color: inherit;
        text-decoration: none;
    }
}