.banner .hashtag {
    font-family: 'Courier New', Courier, monospace;
}

/* =========================================================================
 * card => hashtag
 * -------------------------------------------------------------------------
 * A hashtag is a tag with metadata.
 * ========================================================================= */

 .card .hashtag {
    align-items: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    height: 100%;
    justify-content: center;    
}
