
.quote {
    font-family: Georgia, serif;

    .text p::before {
        content: '\201C';
    }
    
    .text p::after {
        content: '\201D';
    }    
}

.card {
    .quote {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        text-align: center;
    }
}

.poster {

    .quote {
        display: flex;
        flex-direction: column;
        font-size: 38px;
        height: 100%;
        justify-content: space-evenly;

        .text {
            padding-bottom: 32pt;
            padding-left: 12pt;
            padding-right: 12pt;
            padding-top: 36pt;
            text-align: center;
        }
        
        .text::before {
            font-size: 46px;
        }
        
        .text::after {
            font-size: 46px;
        }

        .attribution {
            font-size: 20pt;
            padding-bottom: 32pt;
            padding-top: 32pt;
            text-align: center;
        }         
    }
}