
.reality-check-card, .reality-check-masthead {
    height: 100%;
    width: 100%;

    background-size: cover;
    background-position-x: center;
    background-position-y: center;

    display: flex;
    justify-content: center;

    .reality-check {
        align-self: center;
    }

    .reality-check .text {
        background-color: beige;        
        padding: 10pt;
    }    
}