@font-face {
    font-family: 'DanaLibraryHand-Regular';
    src: url('/assets/fonts/DanaLibraryHand/DanaLibraryHand-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.task-card, .task-masthead {
    height: 100%;
    width: 100%;
}

 .card .task {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card .task .text {
    box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.3);
    color: #333;
    font-family: 'DanaLibraryHand-Regular', cursive;
    font-size: 18px;
    height: 160px;
    padding: 20px;
    width: 160px;
}

.card .task .text {
    background: #eae672;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
}

.task-masthead .task {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Adapted from http://creative-punch.net/2014/02/create-css3-post-it-note/ */
.task-masthead .task .text {
    box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.3);
    color: #333;
    font-family: 'DanaLibraryHand-Regular', cursive;
    font-size: 30px;
    height: 300px;
    padding: 20px;
    width: 300px;
}

.task-masthead .task .text {
    background: #eae672;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
}
