.wikipedia-card {
    display: flex;
    align-items: flex-start;
    .logo {
        margin: 1em;
        width: 24pt;
    }
}

.wikipedia-poster {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;

    .excerpt {
        padding: 24pt;
    }
    
    .footer {
        font-size: smaller;
        padding-top: 24pt;
    }
}