@font-face {
    font-family: 'DanaLibraryHand-Regular';
    src: url('/assets/fonts/DanaLibraryHand/DanaLibraryHand-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
