{{ $collated := partial "cc-collate" .Params.title }}
{{ $verse := .Params.verse | default .Params.title }}
<header class="cc-masthead cc-verse-masthead">
  <blockquote>

    {{ $next := partial "cc-get-first" $collated.next }}
    {{ if $next }}
      <a href="{{ $next.RelPermalink }}" class="cc-next">
    {{ end }}
    <p class="cc-verse">{{ $verse | markdownify }}</p>
    {{ if $next }}
      </a>
    {{ end }}


    {{ with .Params.attribution -}}
    <footer class="cc-attribution">
      {{ . | markdownify }}
    </footer>
    {{- end }}
  </blockquote>
</header>
