@mixin cc-cue-base {
    background-color: #1C76B8;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
}

.cc-cue-body {
    /* The cue masthead looks best without margin/padding on the browser window */
    margin: 0;
    padding: 0;
}

.cc-cue-body section, .cc-cue-body footer {
    /* But sections and footers should still have margin */
    margin-left: 8px;
    margin-right: 8px;
}

.cc-cue-inline a, .cc-cue-chip a, .cc-cue-card a {
    @include cc-cue-base;
    text-decoration: none;
}

.cc-cue-card {

    @include cc-cue-base;
    
    /* Size the cue */
    font-size: x-large;
    min-height: 200px;
    width: 300px;

    /* Center the cue */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cc-cue-masthead {

    @include cc-cue-base;

    /* Fill viewport */
    height: 100vh;
    width: 100%;

    /* Center the cue */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Enlarge text */
    font-size: xx-large;
    text-align: center;
    word-spacing: .1em;
}

.cc-cue-masthead a {
    color: white;
}
