.cc-emoji-masthead {

    /* Fill viewport */
    min-height: 100vh;
    width: 100%;

    /* Center, stacked from top to bottom */
    display: flex;
    flex-direction: column;
    font-size: 10em;
    justify-content: center;
    text-align: center;
}

.cc-emoji-card a, .cc-emoji-masthead a {
    color: inherit;
    font-size: xx-large;
    text-decoration: none;
}