.cc-fragment-card a,
.cc-fragment-heading a,
.cc-fragment-inline a,
.cc-fragment-masthead a,
.cc-fragment-tag a {
    color: black;
}

.cc-fragment-card .cc-title::before,
.cc-fragment-heading .cc-title::before,
.cc-fragment-inline .cc-title::before,
.cc-fragment-masthead .cc-title::before,
.cc-fragment-tag .cc-title::before {
    content: '\2329';
    color: #1C76B8; 
}

.cc-fragment-card .cc-title::after,
.cc-fragment-heading .cc-title::after,
.cc-fragment-inline .cc-title::after,
.cc-fragment-masthead .cc-title::after,
.cc-fragment-tag .cc-title::after {
    content: '\232A';
    color: #1C76B8; 
}

.cc-fragment-masthead {

    /* Fill viewport */
    height: 100vh;
    width: 100%;

    /* Center the fragment */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Enlarge text */
    font-size: xx-large;
}