.cc-reality-check-masthead {

    /* Fill viewport */
    min-height: 100vh;
    width: 100%;

    /* Center, stacked from top to bottom */
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    justify-content: center;
    text-align: center;
}

.cc-reality-check-masthead .cc-title,
.cc-reality-check-card .cc-title,
.cc-reality-check-inline .cc-title {
    background-color: beige;
    padding: 12pt;
}