.cc-snippet-card, .cc-snippet-inline, .cc-snippet-masthead {
    border: 3px dotted silver;
    padding: 10pt;
    margin-top: 10pt;
}

li:has(>.cc-snippet-card), li:has(>.cc-snippet-inline) {
    list-style-type: "✂";
}