
.cc-tweet-masthead,
.cc-tweet-card,
.cc-tweet-inline,
.cc-tweet-tag {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.cc-tweet-card a,
.cc-tweet-inline a,
.cc-tweet-masthead a,
.cc-tweet-tag a {
    color: white;
}

.cc-tweet-masthead {
    padding-left: 16pt;
    padding-right: 16pt
}

.cc-tweet-card {
    padding: 8pt;
    padding-right: 0pt;
}