.cc-tweet-masthead {
    background-color: black;
    color: white;
    padding-left: 16pt;
    padding-right: 16pt
}

.cc-tweet-card {
    background-color: black;
    color: white;
    padding: 8pt;
    padding-right: 0pt;
}

.cc-tweet-card a,
.cc-tweet-inline a,
.cc-tweet-masthead a,
.cc-tweet-tag a {
    color: white;
}

.cc-tweet-inline {
    background-color: black;
    color: white;
}