.cc-tweet-masthead {
    background-color: black;
    color: white;
    padding-left: 16pt;
    padding-right: 16pt
}

.cc-tweet-card {
    background-color: black;
    color: white;
}

.cc-tweet-inline {
    background-color: black;
    color: white;
}