
/*
.cc-website-body > .cc-website-masthead {
    order: -4;
}

.cc-website-body > .cc-tags-section {
    order: -3;

    > header {
        display: none;
    }
}
*/

/* excerpt section */
.cc-website-body > .cc-excerpt-section ul {
    list-style: none;
}

/* website section */
.cc-website-body > .cc-website-section {
    order: 3;
    background-color: #f0f0f0;
    border-radius: 10pt;
    > header {
        display: none;
    }
}