
/* Set the body as a grid so that sections can be re-ordered */
.cc-website-body {
    display: grid;
}

/* Sort the masthead first */
.cc-website-body > .cc-website-masthead {
    order: -4;
}

/* tags section */
.cc-website-body > .cc-tags-section {
    order: -3;

    > header {
        display: none;
    }
}

/* excerpt section */
.cc-website-body > .cc-excerpt-section {
    //order: -2;
}

/* website section */
.cc-website-body > .cc-website-section {
    //order: -1;
    background-color: #f0f0f0;
    border-radius: 10pt;
}