---
layout: root
---
{% include cue-poster %}    
{{ content }}

{% include cc0.html %}
<!-- does not word wrap: 
<svg xmlns="http://www.w3.org/2000/svg">
    <style>
        svg {
            background-color: #1C76B8;
            height: 100%;
            min-height: 300pt;
            width: 100%;
        }
        text {
            fill: white;
            font-size: 4em;
            text-anchor: middle;
            text-transform: uppercase;
        }
    </style>
    <text
        x="50%"
        y="50%"
        dominant-baseline="middle">{{ page.cue }}</text>
</svg>
-->