---
layout: root
---
{% comment -%}
=============================================================================
hashtag-lookup intialization
-----------------------------------------------------------------------------
The next expression creates an array for fast reverse-lookup of documents
that have a hashtag property. A hashtag is a string such as "star" that
uniquely identifies a topic or concept. When a document tags "star", this
structure is used to find the associated document.

The resulting array looks like the following:

  - name: "star"
    items: 
      - page
      - page
  - name: "human-being"
    items:
      - page

Ideally each hashtag should only have a single associated page, otherwise
such a tag will not link to a unique page and may cause confusion. In these
cases the layout will link to each associated page.
=============================================================================
{% endcomment -%}
{% assign hashtag-lookup = site.documents | group_by_exp: "item", "item.hashtag | default: item.title | slugify" -%}

{% comment -%}
=============================================================================
masthead section
-----------------------------------------------------------------------------
The next expression selects and renders the masthead for the current item.
A masthead contains the top-level heading before content and links.
=============================================================================
{% endcomment -%}
{% include masthead item=page -%}

{% comment -%}
=============================================================================
tag chips section
-----------------------------------------------------------------------------
The next section generates a chip list for the tags on the page. A chip is a
hyperlink rendered as a small block ("chip"). Each tag is checked against the
hashtag lookup to find its associated page. If the tag has no associated 
hashtag, then a title-based search is performed.
=============================================================================
{% endcomment -%}
{% if page.tags.size > 0 -%}
{%   include cc-section-chips item=page prop="tags" -%}
{% endif -%}

{% comment -%}
=============================================================================
reverse-tagged section
-----------------------------------------------------------------------------
The next section generates a card for each page that tags this page. This is
rendered only if the page has a hashtag defined for perf reasons.
=============================================================================
{% endcomment -%}
{% if page.hashtag -%}
<section class="hashtag-section">
  <div class="linked-list">
    {% for doc in site.documents -%}
        {%- for tag in doc.tags -%}
            {%- assign slugged = tag | slugify -%}
            {%- if slugged == page.hashtag -%}
                {% include card item=doc %}
                {%- break -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
    </div>  
</section>
{% endif %}

{% comment -%}
=============================================================================
content section
-----------------------------------------------------------------------------
The next section contains the body content of the page.
=============================================================================
{% endcomment -%}
<section class="content-section">
{{ content }}
</section>

{% if page.after.size > 0 -%}
{%   include cc-section-chips item=page prop="after" heading="after" -%}
{% endif -%}

{% if page.before.size > 0 -%}
{%   include cc-section-chips item=page prop="before" heading="before" -%}
{% endif -%}

{% if page.born-on -%}
{%   include cc-section-date item=page prop="born-on" heading="born on" -%}
{% endif -%}

{% if page.capital.size > 0 -%}
{%   include cc-section-chips item=page prop="capital" heading="capital" -%}
{% endif -%}

{% if page.cities.size > 0 -%}
{%   include cc-section-chips item=page prop="cities" heading="cities" -%}
{% endif -%}

{% if page.counties.size > 0 -%}
{%   include cc-section-chips item=page prop="counties" heading="counties" -%}
{% endif -%}

{% if page.died-on -%}
{%   include cc-section-date item=page prop="died-on" heading="died on" -%}
{% endif -%}

{% if page.directed-by.size > 0 -%}
{%   include cc-section-chips item=page prop="directed-by" heading="directed by" -%}
{% endif -%}

{% if page.near.size > 0 -%}
{%   include cc-section-chips item=page prop="near" heading="near" -%}
{% endif -%}

{% if page.opposite.size > 0 -%}
{%   include cc-section-chips item=page prop="opposite" heading="opposite" -%}
{% endif -%}

{% if page.orbits.size > 0 -%}
{%   include cc-section-chips item=page prop="orbits" heading="orbits" -%}
{% endif -%}

{% if page.stars.size > 0 -%}
{%   include cc-section-chips item=page prop="stars" heading="stars" -%}
{% endif -%}

{% if page.subdivision-of.size > 0 -%}
{%   include cc-section-chips item=page prop="subdivision-of" heading="subdivision of" -%}
{% endif -%}

{% comment -%}
=============================================================================
borders section
=============================================================================
{% endcomment -%}
{% if page.borders.size > 0 -%}
<section class="borders-section">
  <h1>Borders</h1>
  <div class="linked-list">
    {% for tag in page.borders -%}
    {%   assign tag-slugified = tag | slugify -%}
    {%   assign tag-group = hashtag-lookup | where: "name", tag-slugified | first -%}
    {%   for tag-item in tag-group.items -%}
    {%     include card item=tag-item -%}
    {%   endfor -%}
    {% endfor %}
  </div>
</section>
{% endif %}

{% comment -%}
=============================================================================
related section
-----------------------------------------------------------------------------
The next section contains a list of cards for each related page.
=============================================================================
{% endcomment -%}
{% if page.related.size > 0 -%}
<section class="related-section">
  <h1>Related</h1>
  <div class="linked-list">
    {% comment -%}
    #
    # related:
    #
    {% endcomment -%}
    {% for tag in page.related -%}
    {%   assign tag-slugified = tag | slugify -%}
    {%   assign tag-group = hashtag-lookup | where: "name", tag-slugified | first -%}
    {%   for tag-item in tag-group.items -%}
    {%     include card item=tag-item -%}
    {%   endfor -%}
    {% endfor -%}
    {% comment -%}
    #
    # related-when-tagged:
    #
    # Known issue: if the item does not already have related items,
    # then reverse-related items will not appear here. This is because of
    # the page.related.size check at the start of this section.
    #
    {% endcomment -%}
    {% assign rwts = site.documents | group_by_exp: "item", "item.related-when-tagged | slugify" -%}
    {% for tag in page.tags -%}
    {%   assign tag-slugified = tag | slugify -%}
    {%   assign tag-group = rwts | where: "name", tag-slugified | first -%}
    {%   for tag-item in tag-group.items -%}
    {%     include card item=tag-item -%}
    {%   endfor -%}
    {% endfor %}
  </div>
</section>
{% endif %}

{% comment -%}
=============================================================================
footer
=============================================================================
{% endcomment -%}
<section class="home-link-section">
  <a href="/index.html">
    <div class="card">Home</div>
  </a>
</section>