<!DOCTYPE html>
<html lang='{{ site.locale | slice: 0,2 | default: "en" }}'>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/poster.css' | relative_url }}" />
    <link rel="stylesheet" media="screen" href="{{ '/assets/fonts/DanaLibraryHand/DanaLibraryHand.css' | relative_url }}" type="text/css"/>
  </head>

  <body>
    {{ content }}

    <section class="linked-list">
    {% for linked in page.linked %}
      {% include linked-card.html linked=page.linked %}
    {% endfor %}
    {% for tag in page.tags %}
      {% comment %}
      #
      # This is not really efficient -- change in the future.
      #
      {% endcomment %}
      {% capture hashtagpath %}_hashtags/{{tag}}.md{% endcapture %}
      {% include linked-card.html linked=hashtagpath %}
    {% endfor %}
    </section>

  </body>

</html>